{% extends 'default.html' %}

{% block title %}
Профиль
{% endblock title %}
{% block content %}
<h3>Страница авторизованного пользователя {{ user.username }}</h3>
<br>
<form action="" method="get">
    {{ filterset.form.as_p }}
<input type="submit" value="Применить">
</form>
<br>
{% if comments %}
<h4>Все оклики</h4>
<table>
    <tr>
        <td>Содержание</td>
        <td>К посту</td>
        <td>Статус</td>
        <td>Автор объявления</td>
    </tr>
    {% for comment in comments %}
    <tr>
        <td>{{ comment.content }}</td>
        <td>{{ comment.post.title }}</td>
           {% if comment.status %}
        <td>{{ comment.status }}</td>
        {% else %}
        <td>
            <a href="{% url 'comment_delete' comment.id%}" class="btn btn-outline-danger btn-sm">Удалить</a>
            <a href="{% url 'comment_accept' comment.id%}" class="btn btn-outline-success btn-sm">Принять</a>
        </td>
        {% endif %}
        <td>{{ comment.post.user }}</td>
    </tr>
    {% endfor %}
    {% else %}
       Комментариев пока нет!
    {% endif %}
</table>
{% endblock content %}